<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Data Source=C:\Users\bcaproject07\Documents\Visual Studio 2010\WebSites\RentAndExplore\App_Data\App_Data\RAE_DB.mdf;Integrated Security=True;User Instance=True"/>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\bcaproject07\Documents\Visual Studio 2010\WebSites\RentAndExplore\App_Data\App_Data\RAE_DB.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
    <sessionState mode="InProc" timeout="20" />
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
